/*BARRA DE NAVEGACION*/
.nav-content{
  background-color: #1068a8; 
}

.offcanvas{
  background-color: #1068a8;
}

.navbar{
  height: 80px;
  display: flex;
}

.title-principal{
  color: #fff;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 50px;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-top: 4px;
}

/*BTN-HAMBURGUESA*/

#btn-ham{
  background-color: #013f6b;
  height: 4rem;
  font-size: 26px;
}

/*BODY*/
.nav-cerrarSesion{
  list-style-type: none;
  padding-top: 25rem;
}

.body-container{
  background-color: #a2d0f1;
}

/*MAIN*/